<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>{{pageTitle}}</h3>
  </div>

  <mat-card *ngFor='let list of lists'>
    {{list.Name}}

    <mat-accordion>

      <mat-expansion-panel *ngFor='let item of list.ItemsList'>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.Name}}
          </mat-panel-title>
          <mat-panel-description *ngIf='item.Description'>
            Click for description 
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
          <input matInput placeholder='{{item.Description}}' matTooltip='{{item.Description}}'>
        </mat-form-field>

      </mat-expansion-panel>
    </mat-accordion>

  </mat-card>

</div>